<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="loginruben-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `loginruben-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginrubenElement extends Polymer.Element {
      static get is() { return 'loginruben-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'loginruben-element'
          }
        };
      }
    }

    window.customElements.define(LoginrubenElement.is, LoginrubenElement);
  </script>
</dom-module>
