<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="loginruben-element">
  <template>
    <style>
      :host {
        display: block;
        background: #00ccff;
      }
      :host .acceder{
        background: blue;
        color: white;
      }
      :host .centrar{
        border-width:1px;
        padding:2px;
        cursor:pointer;
        display:block;
        width:290px;
        margin: 0 auto;
        text-align:left;
      }
      :host button{
        width: 100px;
        height: 24px;
      }

      :host #messageerror{
        color:red;
        font-style: italic;
      }

      :host #messageok{
        color: green;
        font-style: italic;


      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <div class="centrar">
      <form id="myform" name=form action="TU_PAGINA_WEB.HTML">
        <P>Usuario:    <input type=text id="user" name=login placeholder="Usuer">
        <P>Contraseña: <input id="pass" type=password name=password placeholder="Password">
          <button on-click="login" class="acceder btn"  type="button">Acceder</button>
        <p id="messageok" hidden="[[!ocultar]]">Acceso correcto</p>
        <p id="messageerror" hidden="[[!ocultar]]">Datos Incorrectos intente de nuevo</p>
      </form>
    </div>


  </template>

  <script>
    /**
     * `loginruben-element`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginrubenElement extends Polymer.Element {
      static get is() { return 'loginruben-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'loginruben-element'
          },
          ocultar: {
            type: Boolean,
            value: false
          },
          propiedad: {
            type: Boolean,
            value: "false",
            notify: true
          }
        };
      }
      login(){
        if (this.$.user.value === "user"&& this.$.pass.value === 'Rubens'){
          this.$.messageerror.hidden = true;
          this.$.messageok.hidden = false;
          this.set('propiedad', true)
        }
        else{
          this.$.messageok.hidden = true;
          this.$.messageerror.hidden = false;
        }
      }
    }

    window.customElements.define(LoginrubenElement.is, LoginrubenElement);
  </script>
</dom-module>
